* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
}

// Дисплей зворотнього відліку
.show-timer {
	font-family: fantasy;
	font-size: 35px;
	letter-spacing: 7px;
}

// Блок з боксами для пазлів
.box-buttons {
	display: flex;
	justify-content: space-between;
	width: 300px;
	margin-top: 80px;
}

// Кнопки 'btn_start', 'btn_check', 'btn_new', 'info_slide-check_btn-close', 'info_slide-check_btn-check'
.btn {
	width:75px;
	height: 26px;
	color: white;
	background-color: #EB4446;
	border-radius: 10px;
	cursor: pointer;
	font-size: 10px;
}

// Блок з пазлами
.block-puzzles {
	width: 450px;
	display: flex;
	justify-content: space-between;
	border: black 1px solid;
	margin-top: 40px;
	padding: 10px;
	box-shadow: -4px 5px 10px 3px;

	.box {
		width: 202px;
		height: 202px;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		border: black 0.5px solid;
	}
}

// Пазли
.puzzle {
	width: 50px;
	height: 50px;
	background-size: 200px 200px;
	cursor: grab;
	pointer-events: none;

	.number {
		line-height: 50px;
		text-align: center;
		opacity: 0;
	}
}

// Модальний контейнер
.modal-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #24242490;
	opacity: 0;
	display: none;
}

// Модальне вікно
.info_modal {
	position: absolute;
	width: 350px;
	height: 140px;
	background-color: white;
	text-align: center;
	display: none;


	.info_modal_text {
		margin-top: 30px;
		line-height: 40px;
		border-top: black 1px solid;
		border-bottom: black 1px solid;

		font-size: 20px;

		.modal-timer {
			font-family: system-ui;
			font-size: 20px;
		}
	}

	.text2 {
		margin-top: 30px;
		line-height: 40px;
		border-top: black 1px solid;
		border-bottom: black 1px solid;

		font-size: 20px;
		display: none;
	}

	.info_slide-check_buttons-box {
		margin: 20px;

		#info_slide-check_btn-check {
			background-color: #1E9343;
		}
	}
}

// Кнопки для встановлення часу тривалості гри
.radio-btn {
	width: 325px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	background-color: blanchedalmond;
	color: brown;
	text-align: center;
	border: 1px black solid;
	padding: 15px;
	margin-top: 20px;
	box-shadow: -4px 5px 10px 5px;

	.radio, label {
		cursor: pointer;
	}
}
